<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--mandatory keys-->
    <add key="protocol" value="http" />
    <add key="browser" value="Chrome" />
    <add key="urlPlmon" value="http://crm.staging.fxtoptech.com" />
    <add key="urlPlmonDef" value="http://crm.staging.fxtoptech.com" />
    <add key="implicitlyWaitSeconds" value="15" />
    <add key="pageLoadWaitSeconds" value="60 " />
    <!--file uploaders-->
    <add key="fileUploadPath" value="Images\1.bmp" />
    <add key="fileUploadPathSeveral" value="Images\&quot;1.bmp&quot;&quot;2.png&quot;&quot;3.jpg&quot;" />
    <add key="xmlTestCasesDataFileNameFull" value="TestsInputData\XMLData\TestsCasesData.xml" />
    <!--file uploaders-->
    <add key="login" value="egor.t" />
    <add key="password" value="qwe123" />
    <add key="TestDataSheetPath" value="..\TestsInputData\TestData.xlsx" />  
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ExcelDataReader" publicKeyToken="93517dbe6a4012fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>